

/* Variables */


$color1: #fff;
$color2: black;
$color3: orange;
$color4: brown;



h1 {
    color: red;
    background-color: beige;
    text-align: center;
}

body {
    background: $color2;
}

section {
    
    main {
        width: 100%;
        display: inline-block;
    }
    
    article {
        height: 200px;
        width: 70%;
        background-color: $color3;
        float: left;
        margin-top: 10px;
    }
    h2 {
        text-align: center;
        padding-top: 10px;
        text-decoration: underline;
    }
    p {
        color: $color1;
        padding: 5px 10px 5px 10px;
    }
}

div {  
    
    
    aside {
        width: 25%;
        background-color: $color4;
        height: 300px;
        float: right;
        display: inline-block;
        margin: 10px;
    }
    
    h3 {
        text-align: center;
        text-decoration: underline;
    }

    p {
        color: $color1;
        padding: 10px;
    }
}